
ul{
    list-style:none;
}
a{
    text-decoration: none;
}
nav{
    
    width: 70%;
    margin: 10px auto;
}

nav ul li{
    display:inline-block;
    
    
}
nav ul{
    text-align: center;
}
nav ul li a{
    color:aliceblue;
    display: inline-block;
    padding: 10px 20px;
    position: relative;
    z-index: 2;

}
.bar_1{
    background-color: rgb(89, 197, 107);
}
.bar_1 ul li a::after{
    content:"";
    background-color: black;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    position: absolute;
    z-index: -1;
    transition: .2s;
}
.bar_1 ul li:hover a::after{
    height: 100%;

}
h1{
    text-align: center;
}

.bar_2{
    background-color: rgb(33, 30, 37);
}
.bar_2 ul li a::after{
    content:"";
    background-color: rgb(180, 157, 122);
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    position: absolute;
    z-index: -1;
    transition: .2s;
}
.bar_2 ul li:hover a::after{
    width: 100%;

}
.bar_3{
    background-color: rgb(196, 183, 70);
}

.bar_3 ul li a::after{
    content:"";
    background-color: rgb(71, 151, 175);
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    position: absolute;
    z-index: -1;
    transition: .2s;
}
.bar_3 ul li a::before{
    content:"";
    background-color: rgb(71, 151, 175);
    top: 0;
    right: 0;
    height: 100%;
    width: 0%;
    position: absolute;
    z-index: -1;
    transition: .2s;
} 
.bar_3 ul li:hover a::after{
    width: 50%;

}
.bar_3 ul li:hover a::before{
    width: 50%;

}

.bar_4{
    background-color: rgb(223, 89, 71);
}
.bar_4 ul li a::after{
    content:"";
    background-color: rgb(163, 138, 196);
    top: 0;
    right: 0;
    height:0%;
    width: 100%;
    position: absolute;
    z-index: -1;
    transition: .2s;
}
.bar_4 ul li a::before{
    content:"";
    background-color: rgb(163, 138, 196);
    bottom: 0;
    right: 0;
    height:0%;
    width:100%;
    position: absolute;
    z-index: -1;
    transition: .2s;
} 
.bar_4 ul li:hover a::after{
    height: 50%;

}
.bar_4 ul li:hover a::before{
    height: 50%;

}

.bar_5{
    background-color: rgb(167, 51, 70);
}
.bar_5 ul li a::after{
    content:"";
    background-color:black ;
    top: 0;
    left: 0;
    height: 20%;
    width: 0%;
    position: absolute;
    z-index: -1;
    transition: .2s;
}
.bar_5 ul li a::before{
    content:"";
    background-color:black ;
    bottom: 0;
    right: 0;
    height: 20%;
    width: 0%;
    position: absolute;
    z-index: -1;
    transition: .2s;
} 
.bar_5 ul li:hover a::after{
    width: 100%;

}
.bar_5 ul li:hover a::before{
    width: 100%;

}

.bar_6{
    background-color: rgb(42, 77, 173);
}
.bar_6 ul li a::after{
    content:"";
    background-color: rgb(77, 58, 24);
    top: 0;
    left: 0;
    height: 50%;
    width: 0%;
    position: absolute;
    z-index: -1;
    transition: .2s;
}
.bar_6 ul li a::before{
    content:"";
    background-color: rgb(77, 58, 24);
    bottom: 0;
    right: 0;
    height: 50%;
    width: 0%;
    position: absolute;
    z-index: -1;
    transition: .2s;
} 
.bar_6 ul li:hover a::after{
    width: 100%;

}
.bar_6 ul li:hover a::before{
    width: 100%;

}

/* 
.d1{
    height: 70px;
    width: 99px;
    border: 1px solid red;
    border-radius: 10px;
    position: relative;

}
.d2{
    height: 50px;
    width: 60px;
    background-color: black;
    color: aliceblue;
    position: absolute;
    bottom: 5px;
    right: 0px;
} */